/* Fond du site*/

body{
background :linear-gradient( to bottom ,gray,silver,LightCyan,Snow    );
}

/* Header barre de navigation */
header nav{
  background: #111;
  text-align: center;
}

header nav ul{
  display:  inline-flex;
  list-style: none;
  color: #fff;
}

header nav ul li {
  width:120px;
  height:50px;
  padding:15px;
}

header nav ul li a{
  text-decoration: none;
  color: #fff;
}

.active, header nav ul li:hover{
  background: lightgray ;
  border-radius : 15px;
}

header nav .fa{

}

.sous-menu1{
  display: none;
}

header nav ul li:hover .sous-menu1{
  display:block;
  position:absolute;
  background: #111;
  margin-top: 15px;

}

header nav ul li:hover .sous-menu1 ul{
  display:block;
  margin: 10px;
}
/*Description Article*/

div h2{
  margin-left: 200px;
}
.article{
  display: flex;
  margin-left: 200px;
}
.image img{
  width: 500px;
  height : 500px;
}

div h3{
  font-weight: bold;
}
div p{
  margin-left: 50px;
}

div article{
  margin-left: 25px;
  display:flex;
  padding :20px;

}

div article img{
  width : 100px;
  height: 100px;
}
