/* Fond du site*/

body{
background :linear-gradient( to bottom ,gray,silver,LightCyan,Snow    );
}

/* Header barre de navigation */
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

 header nav li {
  float: left;
  border-right:1px solid #bbb;
  text-decoration: none;
}

header nav li:last-child {
  border-right: none;
}

header nav li a {

  display: block;
  color: #bbb;;
  background-color: #111;
  text-align: center;
  padding: 14px 16px;

}
header nav li a:hover {
  background-color: gold;
}


/*Description Article*/

.article{
  display: flex;
  margin-left: 200px;
}
.image img{
  width: 500px;
  height : 500px;
}

div h3{
  font-weight: bold;
}
div p{
  margin-left: 50px;
}

div article{
  margin-left: 25px;
  display:flex;
  padding :20px;

}

div article img{
  width : 100px;
  height: 100px;
}
