
/* Header */

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

 header nav li {
  float: left;
  border-right:1px solid #bbb;
  text-decoration: none;
}

header nav li:last-child {
  border-right: none;
}

header nav li a {

  display: block;
  color: #bbb;;
  background-color: #111;
  text-align: center;
  padding: 14px 16px;

}
header nav li a:hover {
  background-color: #4CAF50;
}


/*Pour le carousel */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 25%;
  margin: auto;
}

.container{
  margin-bottom: 100px;
}


/*Categorie*/
.Categorie{
margin-left: 250px;


}

.premiereLigne{
  display: flex;
}

.Image img{
  width: 153.50px;
  height: 150px;
}
.containerCategorie div div div p{
  text-align: center;
}

.affichage {
  display: flex;
  justify-content: space-between;
}

.Produit{
  margin-right: 250px;
}
